<!DOCTYPE html>
<html>
<head>
  <title>A</title>
  <%= csrf_meta_tags %>

  <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color:lime">

<%= yield %>

</body>
</html>
